[Desktop Entry]
Type=Application
TryExec={{ ansible_facts['env']['HOME'] }}/.local/bin/ghostty
Exec={{ ansible_facts['env']['HOME'] }}/.local/bin/ghostty
Icon=ghostty
Terminal=false
Categories=System;TerminalEmulator;

Name=Ghostty
GenericName=Terminal
Comment=A fast, native terminal emulator
StartupNotify=true
StartupWMClass=ghostty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec={{ ansible_facts['env']['HOME'] }}/.local/bin/ghostty
